{% extends 'base/base.html' %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<h1 class="my-main-header mt-5">Rohit Macherla</h1>
				<br />
				<p>
					<h3>I am a passionate programmer with over 10 years of experience in Salesforce.com(6+ yrs), Python, Node.js and Java. I love solving problems and never back off from learning to solve them in a better way.
					</h3>
					<br />
					<small class="text-muted">
					I have built applications and solved business problems extensively using Apex, Visualforce, Javascript Remoting, Batch processing, Lightning and more. I have written applications in Node.js and Python/Django that interact with Salesforce and that stand-alone as well. We were among one of the first teams to start using Heroku Connect on production scale. In 2014, our use of Salesforce.com and Heroku at Sky Tickets has been featured in Dreamforce.
					<br />
					My biggest strengths are rapid learning, adapting, and an ability to foresee challenges. 10 years from now, I see myself as a Technical Architect handling large-scale projects.
					</small>
				</p>
			</div>
		</div>
	</div>
	
{% endblock %}